<br><br><br>
<footer class="full footer">
  (c) 2020 Julian Blazek. <label for="toggle-theme">Change Theme:</label> <button class="b" id="toggle-theme" onclick="toggleTheme()">🕑</button><br>
  View the sourcecode on <a href="https://github.com/nailujx86/toolsforspotify" target="_blank" rel="noreferrer">Github</a>.
</footer>