<title>{{meta.title}}</title>
<meta name="description" content="{{meta.description}}">
<link rel="stylesheet" type="text/css" href="/small.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/script.js"></script>
