<h1>You seem to be offline..</h1>
<p>To be able to use this apps functionality you have to be connected to the Internet.</p>
<p>So just come back once you are connected again! :)</p>
<p>You can check out our precached documentation meanwhile: <a href="/documentation">Documentation</a></p>
<hr>
<a href="" onclick="window.location.reload()" class="b primary">Refresh</a>