<h1>You seem to be offline..</h1>
<p>I'm sorry, but to be able to use this app you have to be connected to the Internet!</p>
<p>Try again once you are connected again.</p>
<p>You can check out our documentation meanwhile: <a href="/documentation">Documentation</a></p>
<hr>
<a href="" onclick="window.location.reload()" class="b primary">Refresh</a>