<h1>Your playlist based on "{{data.originalName}}" is ready!</h1>
<h2>Spotify URL</h2>
<p>
    <input class="full" style="text-align:center;" type="text" value="{{{data.redirectURL}}}" readonly>
</p>
<a class="b primary" href="{{{data.redirectURL}}}">Bring me to Spotify!</a>
<hr>
<p>Generated in {{data.elapsedTime}} seconds.</p>